.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
}

.site-container .box-sitename {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 5%;
}

.site-container .box-theme {
  flex: 3;
}

.site-container .box-input {
  display: flex;
  margin-top: 3%;
  height: 38px;
  align-items: center;
}

.site-container #input-name {
  margin-right: 15px;
  width: 100%;
  height: 100%;
  max-width: 250px;
  font-size: 1.2em;
  color: rgb(82, 82, 82);
  font-family: 'Noto Sans KR';
  border: 2px solid rgb(156, 156, 156);
}

.site-container #input-name:focus {
  outline: inherit;
}

.site-container #btn-submit {
  border: inherit;
  outline: inherit;
  cursor: pointer;
  width: 90px;
  height: 90%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.05em;
  font-weight: 500;
}

.site-container #btn-submit:hover {
  background-color: inherit;
}

.site-container #btn-submit-none {
  border: inherit;
  outline: inherit;
  width: 90px;
  height: 90%;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.05em;
  font-weight: 500;
}

.site-container .text-alert{
  margin-top: 7px;
  font-size: 0.9em;
  color: rgb(231, 92, 92);
}

.site-container .text-alert-hidden{
  visibility: hidden;
}

.site-container .title-theme {
  margin-bottom: 3%;
}

.site-container .info-color {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.site-container #sample-color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
}

.site-container #text-color {
  font-weight: 600;
  cursor: pointer;
}

.site-container .hidden {
 display: none;
  }

.site-container .color-container{
    display: inline-block;
}

