.setting-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.setting-container .box-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3% 1% 3% 3%;
  padding: 35px;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(187, 187, 187);
}

.setting-container .box-content {
  flex: 3.1;
  margin: 3% 3% 3% 1%;
  padding: 20px 80px;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgb(187, 187, 187);
}

.setting-container .btn-back {
  display: flex;
  align-items: center;
  color:rgb(124, 124, 124);
  font-weight: 500;
  margin-bottom: 10%;
  cursor: pointer;
}

.setting-container #icon-back{
    margin-right: 15px;
}

.setting-container #text-back{
    
}

.setting-container .menu {
    font-size: 1.07em;
    margin: 5px 0;
    cursor: pointer;
}

.setting-container .btn-site {
}

.setting-container .btn-autocomplete {
}

.setting-container .btn-searchdata {
}

.setting-container .btn-withdrawal {
  margin-top: auto;
  text-align: right;
  color: rgb(158, 158, 158);
  cursor: pointer;
}

.setting-container .btn-withdrawal:hover{
    text-decoration: underline;
}
